@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

:root {
  --bg: white;
  --negate: rgb(60, 60, 60);
  --text-color: rgb(40, 40, 40);
  --bg-dx: #f4f5f5;
  --text-color-border: rgb(220, 220, 220);
  --bg-result: #0187f7;
  --text-currency: #bf5dce;
}

.dark-theme {
  --bg: rgb(60, 60, 60);
  --negate: white;
  --text-color: rgb(220, 220, 220);
  --bg-dx: rgb(80, 80, 80);
  --text-color-border: rgb(50, 50, 50);
  --bg-result: #39cccc;
  --text-currency: #01ff70;
}

/* btn toggle dark mode on/off */
.btn {
  position: absolute;
  transition: .5s ease;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  z-index: 10;
}

.btn:hover { 
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -ms-transform: scale(1.10);
  -o-transform: scale(1.10);
} 

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.btn > .svg-icon {
  width: 2em;
  height: 2em;
}
.btn > .svg-icon-big {
  width: 5em;
  height: 5em;
}

.btn > .svg-icon path,
.btn > .svg-icon-big path,
.btn > .svg-icon polygon,
.btn > .svg-icon rect {
  fill: var(--bg-result);
}

.svg-icon circle, .svg-icon-big circle {
  stroke: var(--bg-result);
  stroke-width: 1;
}

.toggle-theme {
  display: inline-block;
  top: 20px;
  left: 20px;
}

.save-btn {
  display: inline-block;
  top: 20px;
  left: 54px;
}

.import-btn {
  display: inline-block;
  top: 20px;
  left: 88px;
}

.listen-btn {
  bottom: 5%;
  left: 42%;
}

.show {
  transition: opacity 650ms;
  cursor: pointer;
}
.hide {
  opacity: 0;
}

/* svg {
    pointer-events: none;
} */

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  background-color: var(--bg);
  color: var(--text-color);
}

.content {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 60vw;
  height: 100vh;
  margin-left: 10%;
  margin-top: 60px;
}

.right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 30vw;
  background-color: var(--bg-dx);
  border-left: 1px solid var(--text-color-border);
  padding-top: 60px;
}

.row {
  position: relative;
  letter-spacing: 0.075em;
}

.formatted,
.editable,
.result {
  padding: 16px 16px 8px 16px;
  min-height: 26.5px;
}

.result-cell {
  color: var(--text-color-border);
  background-color: var(--bg-result);
  border-radius: 6px;
}

.formatted {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
}

.row > div:nth-child(2) {
  position: relative;
  -webkit-text-fill-color: transparent;
  /* Chrome: make text transparent */
  text-fill-color: transparent;
  color: black;
  /* But keep caret black */
}

.numbers {
  color: #7fdbff;
  font-weight: bold;
}

.units {
  color: rgb(31, 113, 221);
  font-weight: bold;
}

.currencies {
  color: var(--text-currency);
  font-weight: bold;
}

.headers {
  color: var(--text-color);
  font-weight: bold;
}

.comments {
  color: rgb(120, 120, 120);
  font-weight: normal;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.couponcode:hover .coupontooltip {
  display: block;
}

.coupontooltip {
  display: none;
  background-color: var(--bg-result);
  color: var(--bg);
  font-size: 50%;
  text-align: center;
  margin-left: 5px;
  padding: 4px;
  border-radius: 4px;
  position: absolute;
  z-index: 100;
  width:80px;
  height:18px;
}

.couponcode {
  margin:52px 20px;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .left {
    margin-left: 5%;
    width: 65vw;
  }

  .right {
    width: 30vw;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 14px;
  }

  .left {
    margin-left: 0%;
    width: 80vw;
  }

  .right {
    width: 20vw;
  }
}
